#root {
  margin: 0 auto;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999;
    /* background-color: var(--muted); */
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    /* background: var(--muted-foreground); */
  }

  &::-webkit-scrollbar-track-piece {
    /* background-color: var(--muted-foreground); */
  }
}
